h1 {
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
body {
    background: rgb(255, 203, 248);
    padding: 60px 80px;
    border-width: 30px;
}
p {
    color: rgb(77, 77, 77);
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#replay_btn {
    background: rgb(64, 99, 163);
    color: white;
    
    padding: 10px 15px;
    font-family: 'Press Start 2P', monospace;
    font-size: 25px;

    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);  /* Centers it */
    cursor: pointer;
}

#gift_box {
    image-rendering: pixelated;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 400px;
    cursor: pointer;
}

#envelope {
    display: none;
    position: absolute;
    width: 100px;  /* Start tiny */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}
#envelope.show {
    transform: translate(-50%, -50%) scale(1);  /* Grow to normal size */
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
#card_closed {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    z-index: 1000;
}
#card_opened {
    display: none;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    z-index: 1000;
}
#gift1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, 70%);
    width: 50%;
    max-width: 500px;
    z-index: 1000;
}
#gift2 {
    display: none;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, 70%);
    width: 50%;
    max-width: 500px;
    z-index: 1000;
}
#sad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 500px;
    z-index: 1000;
}