h1 {
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
body {
    background: rgb(255, 203, 248);
    padding: 60px 80px;
    border-width: 30px;
}

.buttons {
    font-family: 'Press Start 2P', monospace;
    padding: 10px 15px;
    font-size: 25px;
    display: flex;
    position: relative;
    top: 175px;
    justify-content: center;
    gap: 30px;
}

#yes_btn {
    background: rgb(153, 207, 153);
    color: white;
    z-index: 10;
    /* y: 185, x: 521 
    */
}
#no_btn {
    background: rgb(177, 79, 79);
    color: white
}
#punch_btn {
    width: 180px;  /* Adjust size */
    cursor: pointer;  /* Show it's clickable */
    image-rendering: pixelated;
    position: relative;
    top: -80px;
}
#try_again {
    background: rgb(105, 79, 177);
    color: white;
    position: absolute;
    top: 120px;
}
#win_btn {
    background: rgb(64, 163, 81);
    color: white;
    position: absolute;
    top: 120px;
}


#question_page {
    position: relative;
}
#yes_anim {
    display: none;
    image-rendering: pixelated;
    position: absolute;
    top: 410px;
    right: 613px;
    width: 134.2px;
    justify-content: center;
    gap: 30px;
    z-index: 5;
}

#punch_game {
    display: none;
}
#punch_game.active {
    display: block;
}
#timer {
    font-family: 'Press Start 2P', monospace;
}
#punch_cnt {
    font-family: 'Press Start 2P', monospace;
}

#gift {
    display: none;
}
#gift.active {
    display: block;
}

#rat {
    display: none;
    position: absolute;
    right: 1500px;
    top: 110px;
    width: 150px;
    image-rendering: pixelated;
}
#rat_punch {
    display: none;  /* Hidden during question page */
    position: absolute;
    top: 250px;
    left: 635px;
    width: 150px;
    image-rendering: pixelated;
}
.hearts img {
    width: 50px;  /* Adjust size */
    height: 50px;
    image-rendering: pixelated;  /* Keep pixels sharp */
}
.hearts {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;  /* Spacing from top */
}

.info {
    position: absolute;
    background: rgb(68, 68, 68);
    color: white;

    border-color: rgb(172, 172, 172);
    border-width: 3px;
    border-style: solid;
   
    padding: 5px;
    transform: scale(1.2);

    left: 300px;
    top: 300px;
}