h1 {
    color: white;
    font-family: 'Press Start 2P', monospace;

}
body {
    background: rgb(255, 203, 248);
    padding: 60px 80px;
    border-width: 30px;
}

.buttons {
    font-family: 'Press Start 2P', monospace;
    padding: 20px 40px;
    font-size: 40px;
}

#yes_btn {
    background: rgb(153, 207, 153);
    color: white
}
#no_btn {
    background: rgb(177, 79, 79);
    color: white
}


#punch_game {
    display: none;
}
#punch_game.active {
    display: block;
}
#gift {
    display: none;
}
#gift.active {
    display: block;
}

#rat {
    display: none;
    position: absolute;
    width: 150px;
    image-rendering: pixelated;
}